/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans Condensed", sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: y;
  list-style-type: none;
}

main {
  margin-left: 10vw;
}

a:link {
  /* unvisited link */
  color: var(--text);
  text-decoration: none;
  border: none;
}
a:visited {
  /* visited link */
  color: var(--text);
}
a:hover {
  /* mouse over link */
  color: var(--text);
  border: none;
}
a:active {
  /* active link */
  color: var(--text);
}
:root {
  --primary: #150020;
  --secondary: #661091;
  --accent: #fc9608;
  --dark: #350062;
  --light: #9845c2;
  --slight: #9845c295;
  --text: #cebad3;
  --textd: #101010;
}
::-webkit-scrollbar {
  display: none;
}
#container {
  height: 100vh;
  background-color: var(--primary);
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
  width: 220vw;
  scroll-snap-type: y proximity;
}
#container > #nav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 10vw;
  background-color: var(--secondary);
}
#container > div:not(:first-child) {
  height: 200vh;
  width: 100vh;
  padding-left: 0.3%;
  margin-left: 1%;
  overflow-y: scroll;
}
.sec {
  background-color: var(--secondary);
}
/* Testimonials */
#tst {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mlem > img {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  overflow: hidden;
}

#v-pills-tab {
  background-color: var(--slight);
}

/* project styles */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--text);
}
.cimg {
  width: 100%;
  height: 40%;
  overflow-y: scroll;
  overflow-x: scroll;
}
.btn btn-warning rounded-pill btn-lg > h5 {
  z-index: 10;
  color: #fc9608;
  font-size: large;
}
.card-text {
  color: var(--textd);
}
.bn {
  color: var(--textd);
}

/* contact */
#cf {
  background-color: var(--slight);
  color: var(--textd);
}
.first {
  height: 20vh;
  overflow: hidden;
}
#map {
  overflow-y: scroll;
  overflow-x: scroll;
}
