/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  scroll-behavior: smooth;
  
  list-style-type: none;
}

main {
  margin-left: 10vw;
  height: 100vh;
  width: 100vw;
}
#dummy{
  display: none;
  width: 10%;
  height: 200vh;
  background-color: var(--accent);
}
a:link {
  /* unvisited link */
  color: var(--text);
  text-decoration: none;
  border: none;
}
a:visited {
  /* visited link */
  color: var(--text);
}
a:hover {
  /* mouse over link */
  color: var(--text);
  border: none;
}
a:active {
  /* active link */
  color: var(--text);
}
:root {
  --primary: #150020;
  --secondary: #661091;
  --accent: #fc9608;
  --dark: #350062;
  --light: #9845c2;
  --slight: #9845c295;
  --text: #cebad3;
  --textd: #101010;
  --tdark: #35006230;
}
::-webkit-scrollbar {
  display: none;
}
h1{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  margin:10px;
  color: var(--dark);
}
h1:focus + #container > #nav {
  display: block !important;
}
h3{
  font-weight: bold;
  border: 5px double var(--accent);
/* width: fit-content; */
}
#container {
  height: 100vh;
  background-color: var(--primary);
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
  width: 220vw;
  scroll-padding: 0px 500px 0px 0px;
}
#container > #nav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 10vw;
  background-color: var(--tdark);
}
#container > div:not(:first-child) {

  height: 200vh;
  width: 100vw;
  padding-left: 0.3%;
  margin-left: 1%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec {
  background-color: var(--secondary);
  overflow: hidden;

}
#land{
  background-image: url(./assets/Abdool__Zaid-removebg-preview.png) ;
  background-size: cover;
  width: 100%;  
  height: 900px;
 font-size: 10%;
 color: var(--accent);
font-weight: bold;
  display: flex;
flex-direction: column;
justify-content: space-between;
}
.feint{
  color: var(--text);
  font-weight: 100;
}
/* about */
#abt{
display:flex;
flex-direction: column;
justify-content: space-evenly;
}
#vid{
  width:100%;
  border: 5px double var(--accent);
  border-radius: 2%;
}
/* work experience */
.card-title{
  color: var(--textd);
}
.card-body{
  margin: 5%;

}
.a.btn.btn-primary{
  background-color: var(--tdark);

}
/* Testimonials */

.mlem > img {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  overflow: hidden;
}
.nav-pills {
  
  border-right: 5px double var(--accent);
}
.nav-pills .nav-link.active {
background-color: var(--tdark);
border: 5px double var(--accent);
}

/* project styles */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--tdark);
  border: 2px solid var(--slight);
  box-shadow:  5px 5px 10px var(--accent),
             -5px -5px 10px var(--secondary);
}
.cimg {
  width: 100%;
  height: 40%;
  overflow-y: scroll;
  overflow-x: scroll;
  border: 5px double var(--accent);

}

.card-text {
  color: var(--text);
}
.bn {
  color: var(--textd);
}
.btn.btn-warning.rounded-pill.btn-lg{
border: 5px double var(--accent);
background-color: var(--tdark);
}
h5{
  color: var(--textd);
font-weight: bold;
}
h5.card-title{
  color: var(--accent);
}
/* contact */
#cf {
  background-color: var(--slight);
  color: var(--textd);
}
.first {
  height: 20vh;
  overflow: hidden;
background-color: var(--dark);
color: var(--accent);
display: flex;
flex-direction: column;
justify-content: space-between;

}
#map {
  overflow-y: scroll;
  overflow-x: scroll;
}

@media only screen and (max-width: 1510px){
  main{
    margin: 0;
  }
  #container > #nav {
    display: none;
  }
  
  h1{
    display: block;
  }
  
#container{
  flex-direction: column;
  width:100vw;
  height: max-content;
}

#container > div:not(:first-child) {
  height: fit-content;
}
}
@media only screen and (max-width: 366px){
.first{
  font-size: 0.9rem;
}

}
@media only screen and (max-width: 366px){
  *{
    font-size: 0.9rem;
  }
}